<style>
.songs {
	text-align: center;
	height: 1000px;
	background-image: url('https://s-media-cache-ak0.pinimg.com/originals/10/f9/44/10f944389ace361ae00a3fc6b7b16e9e.jpg');
  

  background-position: center;
}
#foot{
	height: 10%;
}	
</style>

<div class="songs">
<h2> <%= @writer.full_name %> </h2>

<h3>songs</h3>
<ul style="list-style: none; padding: 0;">
<% @writer.songs.each do |song| %>
<% song.performers.each do |performers| %>
	<li>  <a href="/songs/<%= song.id %>"><%= song.title %></a> | <a href="/performers/<%= performers.id %>"><%= performers.name %> </a></li>
	<% end %>
	<% end %>
</ul>


</div>

<footer id="foot" class="w3-container w3-xlarge w3-padding-24">
    <a href="/" class="w3-left w3-button w3-white">Home</a>
    <a href="/about" class="w3-right w3-button w3-white">About</a>
</footer>